@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 62% 91%;
    --background-alt: 42 43% 80%;
    --background-soft: 45 50% 87%;
    --foreground: 24 9% 22%;
    --card: 46 65% 88%;
    --card-foreground: 24 9% 22%;
    --popover: 44 57% 84%;
    --popover-foreground: 24 9% 22%;
    --primary: 42 73% 48%;
    --primary-foreground: 0 0% 16%;
    --secondary: 42 43% 80%;
    --secondary-foreground: 24 9% 22%;
    --muted: 42 43% 80%;
    --muted-foreground: 28 8% 47%;
    --accent: 38 31% 73%;
    --accent-foreground: 24 9% 22%;
    --destructive: 3 74% 45%;
    --destructive-foreground: 46 65% 88%;
    --border: 38 31% 73%;
    --input: 42 43% 80%;
    --ring: 23 88% 46%;
    --radius: 1.35rem;
  }

  .dark:root {
    --background: 30 7% 16%;
    --background-alt: 24 7% 24%;
    --background-soft: 20 4% 19%;
    --foreground: 46 65% 88%;
    --card: 20 4% 19%;
    --card-foreground: 46 65% 88%;
    --popover: 24 7% 24%;
    --popover-foreground: 46 65% 88%;
    --primary: 42 73% 48%;
    --primary-foreground: 0 0% 11%;
    --secondary: 24 7% 24%;
    --secondary-foreground: 44 45% 81%;
    --muted: 15 5% 30%;
    --muted-foreground: 34 24% 68%;
    --accent: 15 5% 30%;
    --accent-foreground: 46 65% 88%;
    --destructive: 6 95% 59%;
    --destructive-foreground: 0 0% 11%;
    --border: 15 5% 30%;
    --input: 24 7% 24%;
    --ring: 26 99% 55%;
    --radius: 1.35rem;
  }
}
